services:

  api:
    build: api
    command: uvicorn api.main:app --host=0.0.0.0 --port=8000 --reload --reload-include **
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy
      backend:
        condition: service_healthy
    env_file:
        - .env
    volumes:
      - ./api/:/src/api/
      - ./.env:/src/.env

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: celery -A backend.main worker --loglevel=info
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - PYTHONPATH=/src
    healthcheck:
      test: celery -A backend.main status
      interval: 10s
      timeout: 10s
      retries: 10

  minio:
      image: minio/minio
      volumes:
        - minio_data:/mnt/data
      env_file:
        - .env
      ports:
        - "9000:9000" # MinIO API and web interface
        - "9001:9001" # MinIO console interface
      command: server /mnt/data --console-address ":9001"
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
        interval: 30s
        timeout: 20s
        retries: 3

  postgres:
    build: postgres
    ports:
      - 5432:5432
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d fastapi"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13.1-management
    ports:
      - 5672:5672
      - 15672:15672
    env_file:
        - .env
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3

volumes:
  minio_data:
    driver: local
