line-length = 120

exclude = [
    "docs"
]

[lint]


preview = true
select = [
  "A",
  "ARG",
  "ASYNC",
  "B",
  "BLE001",
  "C4",
  "COM",
  "DTZ",
  "E",
  "EM",
  "EXE",
  "F",
  "FBT",
  "FLY",
  "FURB",
  "G",
  "I",
  "ICN",
  "INP",
  "INT",
  "ISC",
  "LOG",
  "N",
  "PERF",
  "PGH",
  "PIE",
  "PLC",
  "PLE",
  "PLR",
  "PLW",
  "PT",
  "PYI",
  "RET",
  "RSE",
  "RUF",
  "S",
  "SIM",
  "SLF",
  "SLOT",
  "T",
  "TCH",
  "TD",
  "TID",
  "TRY",
  "UP",
  "W",
  "YTT"
]

[lint.per-file-ignores]
"tests/*" = ["S101"]
"api/*" = ["B008"]
